In [ ]:
import numpy as np
import pandas as pd

Загрузка файла .csv в pandas DataFrame

In [ ]:
!wget https://pythonru.com/downloads/pandas_tutorial_read.csv

--2022-02-18 13:15:06--  https://pythonru.com/downloads/pandas_tutorial_read.csv
Resolving pythonru.com (pythonru.com)... 81.177.136.204
Connecting to pythonru.com (pythonru.com)|81.177.136.204|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 110111 (108K) [application/octet-stream]
Saving to: ‘pandas_tutorial_read.csv’

pandas_tutorial_rea 100%[===================>] 107.53K   126KB/s    in 0.9s

2022-02-18 13:15:09 (126 KB/s) - ‘pandas_tutorial_read.csv’ saved [110111/110111]

In [ ]:
article_read=pd.read_csv('pandas_tutorial_read.csv', sep=';',names=['event', 'country', 'user_id', 'source', 'topic'])

Вывод части dataframe

In [ ]:
article_read.head()

                    event    country     user_id   source          topic
2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
article_read.tail()

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [ ]:
article_read.sample(5)

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1172  2018-01-01 15:48:47  read  country_5  2458152434   Reddit  North America
246   2018-01-01 03:25:30  read  country_5  2458151508  AdWords         Europe
1563  2018-01-01 21:13:33  read  country_4  2458152825      SEO  North America
1309  2018-01-01 17:46:22  read  country_2  2458152571   Reddit           Asia
1344  2018-01-01 18:16:36  read  country_8  2458152606      SEO  South America

Вывод определенных колонок из dataframe

In [ ]:
article_read[['country', 'user_id']]

        country     user_id
0     country_7  2458151261
1     country_7  2458151262
2     country_7  2458151263
3     country_7  2458151264
4     country_8  2458151265
...         ...         ...
1790  country_2  2458153051
1791  country_8  2458153052
1792  country_6  2458153053
1793  country_7  2458153054
1794  country_5  2458153055

[1795 rows x 2 columns]

Вывод одной колонки в виде списка

In [ ]:
article_read.user_id

0       2458151261
1       2458151262
2       2458151263
3       2458151264
4       2458151265
           ...
1790    2458153051
1791    2458153052
1792    2458153053
1793    2458153054
1794    2458153055
Name: user_id, Length: 1795, dtype: int64

Получение сведений о датафрейме

In [ ]:
article_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   my_datetime  1795 non-null   object
 1   event        1795 non-null   object
 2   country      1795 non-null   object
 3   user_id      1795 non-null   int64
 4   source       1795 non-null   object
 5   topic        1795 non-null   object
dtypes: int64(1), object(5)
memory usage: 84.3+ KB

подсчет количества различных значений в столбце

In [ ]:
article_read.country.value_counts()

country_2    462
country_5    409
country_7    373
country_6    245
country_8    153
country_4     81
country_3     36
country_1     36
Name: country, dtype: int64

Удаление заданных столбцов

In [ ]:
article1=article_read.drop(['my_datetime','event'], axis=1)
article1.head()

     country     user_id   source          topic
0  country_7  2458151261      SEO  North America
1  country_7  2458151262      SEO  South America
2  country_7  2458151263  AdWords         Africa
3  country_7  2458151264  AdWords         Europe
4  country_8  2458151265   Reddit  North America

из исходного датафрейма они не удалились (это можно было бы сделать, используя параметр inplace)

In [ ]:
article_read.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

Фильтрация определенных значений в dataframe

In [ ]:
article_read[article_read.source == 'SEO']

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
...                   ...   ...        ...         ...    ...            ...
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

Использование нескольких функций

In [ ]:
article_read[['country', 'user_id']].head()

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

In [ ]:
article_read[article_read.country == 'country_2'][['user_id','topic', 'country']].head()

       user_id   topic    country
6   2458151267  Europe  country_2
13  2458151274  Europe  country_2
17  2458151278    Asia  country_2
19  2458151280    Asia  country_2
20  2458151281    Asia  country_2

Агрегация данных pandas №1: .count()

In [ ]:
article_read.count()

my_datetime    1795
event          1795
country        1795
user_id        1795
source         1795
topic          1795
dtype: int64

Агрегация данных pandas №2: .sum()

In [ ]:
article_read.sum()

my_datetime    2018-01-01 00:01:012018-01-01 00:03:202018-01-...
event          readreadreadreadreadreadreadreadreadreadreadre...
country        country_7country_7country_7country_7country_8c...
user_id                                            4412383123610
source         SEOSEOAdWordsAdWordsRedditRedditRedditAdWordsA...
topic          North AmericaSouth AmericaAfricaEuropeNorth Am...
dtype: object

In [ ]:
article_read.user_id.sum()

4412383123610

Агрегация данных pandas №3 и №4: .min() и .max()

In [ ]:
article_read.user_id.min()

2458151261

In [ ]:
article_read.topic.max()

'South America'

Агрегация данных pandas №5 и №6: .mean() и .median()

In [ ]:
article_read.user_id.mean()

2458152158.0

In [ ]:
article_read.user_id.median()

2458152158.0

Функция .groupby в действии

In [ ]:
article_read.groupby('topic').mean()

                    user_id
topic
Africa         2.458152e+09
Asia           2.458152e+09
Australia      2.458152e+09
Europe         2.458152e+09
North America  2.458152e+09
South America  2.458152e+09

In [ ]:
article_read.groupby('source').count()

         my_datetime  event  country  user_id  topic
source
AdWords          500    500      500      500    500
Reddit           949    949      949      949    949
SEO              346    346      346      346    346

In [ ]:
article_read.groupby('source').count()[['user_id']]

         user_id
source
AdWords      500
Reddit       949
SEO          346

Какие самые популярные источник и страна для пользователей country_2?

In [ ]:
article_read[article_read.country == 'country_2'].groupby(['source', 'topic']).count()[['user_id']]

                       user_id
source  topic
AdWords Africa               3
        Asia                31
        Australia            6
        Europe              46
        North America       11
        South America       14
Reddit  Africa              24
        Asia               139
        Australia           18
        Europe              29
        North America       27
        South America       26
SEO     Africa               7
        Asia                 9
        Australia           10
        Europe               4
        North America       42
        South America       16